
/* project main container */
.pl-project-container {}
.pl-project-container * {box-sizing:border-box;-webkit-box-sizing:border-box;outline:0!important;}

/* featured image */
.pl-project-featured {}
.pl-project-featured img {width:100%;margin-bottom:30px;}

/* single project gallery */
.pl-project-gallery {padding:0;margin:0;list-style:none;}
.pl-project-gallery li {}

/* portfolio module */
.pl-portfolio-outer {width:100%;overflow:hidden;}
.pl-portfolio {width:100%;padding:0;margin:0;list-style:none;}
.pl-portfolio a {text-decoration:none!important;}

    /* portfolio layouts */
    .pl-portfolio-layout-grid {}

    /* portfolio columns */
    .pl-portfolio-cols-2 .pl-portfolio-item {width:50%;}
    .pl-portfolio-cols-3 .pl-portfolio-item {width:33.3334%;}
    .pl-portfolio-cols-4 .pl-portfolio-item {width:25%;}
    .pl-portfolio-cols-5 .pl-portfolio-item {width:20%;}
    .pl-portfolio-cols-6 .pl-portfolio-item {width:16.6667%;}

.pl-portfolio-item {width:33.3334%;}
.pl-portfolio-item-inner {}

.pl-portfolio-image {position:relative;}
.pl-portfolio-overlay {position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.3);text-align:center;padding:0 45px;opacity:0;transition:all .36s;-webkit-transition:all .36s;}

.pl-portfolio-image:hover .pl-portfolio-overlay {opacity:1;}

.pl-portfolio-item .pl-portfolio-item-content {}
.pl-portfolio-item .pl-portfolio-item-content h4 {margin:0 0 0.3em 0;}
.pl-portfolio-item .pl-portfolio-item-content h4, .pl-portfolio-item .pl-portfolio-item-content h4 a {font-size:20px;font-weight:800;line-height:1.5em;color:#111;}
.pl-portfolio-item .pl-portfolio-item-content > span {display:block;font-size:13px;color:#111;margin-top:3px;}
.pl-portfolio-item .pl-portfolio-overlay .pl-portfolio-item-content h4 {color:#fff;}
.pl-portfolio-item .pl-portfolio-overlay .pl-portfolio-item-content > span {color:#fff;}

/* filter */
.pl-filter {margin:60px 0;}
.pl-filter ul {padding:0;margin:0;list-style:none;}
.pl-filter ul li {display:inline-block;margin:0 15px;cursor:pointer;text-transform:uppercase;font-size:13px;position:relative;}
.pl-filter ul li:first-child {margin-left:0;}
.pl-filter ul li:last-child {margin-right:0;}
.pl-filter ul li.pl-active {position:relative;}
.pl-filter ul li:after {content:'';position:absolute;left:50%;width:0;bottom:0;height:1px;background-color:#111;
    transition:all .3s;-webkit-transition:all .3s;
}
.pl-filter ul li.pl-active:after {left:0;width:100%;}

/* carousel */
.pl-carousel {position:relative;top:0;left:0;right:0;bottom:0;background-color:#f7f6f4;height:100%;min-height:300px;overflow:hidden;}
.pl-carousel-slide {position:absolute;top:0;left:0;right:0;bottom:0;background-color:#f8f8f8;z-index:0;}
.pl-carousel-slide .featured-image {position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;background-color:#f1f1f1;background-size:cover;background-position:center;}
.pl-carousel-slide .featured-image .pl-image-wrap {position:absolute;}
.pl-carousel-slide .featured-image img {position:absolute;top:0;left:0;right:0;bottom:0;max-width:none;vertical-align:bottom;}

.pl-carousel-text {position:relative;padding:120px 240px;z-index:3;opacity:1;pointer-events:none;
    transition:all .5s;-webkit-transition:all .5s;
}
.pl-hide-title .pl-carousel-text {opacity:0;}
.pl-carousel-text .pl-carousel-title {display:inline-block;margin:0;max-width:700px;line-height:135%;color:inherit;font-size:60px;}
.pl-carousel-text .pl-carousel-sub-title {margin-bottom:0.4em;}
.pl-carousel-text > .pl-cell {color:#111;}
.pl-carousel-text p {margin:0;font-size:15px;color:inherit;line-height:125%;}
.pl-carousel-text a {display:inline-block;color:inherit;pointer-events:all;}
.pl-carousel-text a:hover {opacity:0.7;}
.pl-carousel-nav {position:absolute;top:50%;padding:30px;margin-top:-70px;text-transform:uppercase;color:#000;font-size:70px;overflow:hidden;z-index:2;}
.pl-carousel-nav.pl-carousel-nav-prev {left:90px;}
.pl-carousel-nav.pl-carousel-nav-prev i {-webkit-transform:rotate(225deg);transform:rotate(225deg);}
.pl-carousel-nav.pl-carousel-nav-next {right:90px;}
.pl-carousel-nav i {left:0;line-height:70px;transition:all .3s;-webkit-transition:all .3s;}
.pl-carousel-nav:hover i {opacity:0.6;left:-7px;}
.pl-carousel-nav.pl-carousel-nav-next:hover i {left:7px;}
    .pl-is-header-light .pl-carousel-nav {color:#fff;}
    .pl-is-header-dark .pl-carousel-nav {color:#fff;}
