#peenapo_layouts_gallery_meta .inside {margin:0;padding:0;}

.pl-custom-meta {}
.pl-custom-meta * {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.pl-custom-meta .pl-meta-title {display:block;color:#000;font-size:16px;margin:10px 0 17px 0;}
.pl-custom-meta .pl-custom-meta-field {display:block;border-bottom:1px solid #eee;padding:15px;}

/* gallery advanced */
.pl-meta-gallery {width:100%;position:relative;}
.pl-meta-gallery .pl-gallery-welcome {position:absolute;top:50%;width:100%;margin:-9px 0 0 0;text-align:center;color:#979da6;}

.pl-meta-gallery .pl-bottom-holder {width:100%;margin:0 0 18px 0;}
.pl-meta-gallery .pl-button {display:inline-block;height:auto;padding:0 12px;line-height:32px;background-color:#f93d66;color:#fff;font-size:16px;cursor:pointer;border-radius:3px;}

.pl-meta-gallery-inner {position:relative;}
.pl-meta-gallery .pl-meta-gallery-items {width:100%;background-color:#f4f4f4;padding:10px 10px 0 10px;min-height:140px;font-size:0;}
.pl-meta-gallery .pl-meta-gallery-items li {display:inline-block;width:120px;height:120px;margin:0 10px 10px 0;position:relative;background-color:#eee;color:#eee;}

.pl-meta-gallery .pl-meta-gallery-items li img {opacity:0;width:100%;border-radius:3px;transition:all .3s;-webkit-transition:all .3s;}
.pl-meta-gallery.pl-loaded .pl-meta-gallery-items li img {opacity:1;}
.pl-meta-gallery.pl-loaded .pl-spinner {opacity:0;}

/* preloader */
.pl-spinner {width:60px;height:60px;left:50%;margin-left:-30px;margin-top:-30px;position:absolute;top:50%;-webkit-transform:translateZ(0);transform:translateZ(0);transition:opacity 0.2s ease-out, display 0 0.2s;}
.pl-spinner__side {width:30px;height:60px;position:absolute;top:0;left:0;overflow:hidden;}
.pl-side--right {left:30px;}
.pl-spinner__fill {width:60px;height:60px;position:absolute;top:0;left:0;border-radius:999px;opacity:0.6;}
.pl-side--left .pl-spinner__fill {border-left:30px solid rgba(0, 0, 0, 0.2);animation:spinner-left 1.8s infinite linear;-webkit-animation:spinner-left 1.8s infinite linear;}
.pl-side--right .pl-spinner__fill {left:-30px;border-right:30px solid rgba(0, 0, 0, 0.2);animation:spinner-right 1.8s infinite linear;-webkit-animation:spinner-right 1.8s infinite linear;}

@-webkit-keyframes spinner-right {
    0% {-webkit-transform:rotate(0deg);}
    20% {-webkit-transform:rotate(90deg);}
    25% {-webkit-transform:rotate(180deg);}
    50% {-webkit-transform:rotate(180deg);}
    70% {-webkit-transform:rotate(270deg);}
    75% {-webkit-transform:rotate(360deg);}
    100% {-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes spinner-left {
	0% {-webkit-transform:rotate(0deg);}
	25% {-webkit-transform:rotate(0deg);}
	35% {-webkit-transform:rotate(90deg);}
	50% {-webkit-transform:rotate(180deg);}
	75% {-webkit-transform:rotate(180deg);}
	80% {-webkit-transform:rotate(270deg);}
	100% {-webkit-transform:rotate(360deg);}
}
@keyframes spinner-right {
    0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    20% {-webkit-transform:rotate(90deg);transform:rotate(90deg);}
    25% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    50% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    70% {-webkit-transform:rotate(270deg);transform:rotate(270deg);}
    75% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@keyframes spinner-left {
    0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    35% {-webkit-transform:rotate(90deg);transform:rotate(90deg);}
    50% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    75% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    80% {-webkit-transform:rotate(270deg);transform:rotate(270deg);}
    100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
