/* gallery advanced */
.pl-meta-gallery {float:left;width:100%;position:relative;}
.pl-meta-gallery * {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.pl-meta-gallery p.welcome {position:absolute;top:77px;width:100%;margin:0;text-align:center;color:#979da6;}
.pl-meta-gallery p.welcome .fa {position:relative;top:9px;left:-12px;font-size:40px;}
.pl-meta-gallery .bottom {float:left;width:100%;}
.pl-meta-gallery .btn, .gallery-popup-settings .btn-done {position:relative;float:left;display:inline-block;padding:5px 11px 5px 35px;margin:0 5px 0 0;border:2px solid #eee;background-color:#fff;color:#6e6f72;cursor:pointer;}
.gallery-popup-settings .btn-done {float:right;}
.pl-meta-gallery .btn .fa, .gallery-popup-settings .btn-done .fa {font-size:16px;position:absolute;top:7px;left:10px;color:#04b592;}

.pl-meta-gallery .items {float:left;width:100%;background-color:#f4f4f4;padding:10px 10px 0 10px;min-height:120px;}
.pl-meta-gallery .items li {float:left;width:120px;height:120px;margin:0 10px 10px 0;position:relative;background-color:#eee;color:#eee;}
.pl-meta-gallery.enabled-advanced .items li {cursor:pointer;}
.pl-meta-gallery .items li .fa-pencil {opacity:0;position:absolute;z-index:3;top:50%;left:50%;padding:19px;margin:-29px 0 0 -27px;background-color:rgba(57,63,79,1);font-size:20px;color:#04b592;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.pl-meta-gallery .item-holder {position:relative;width:100%;height:100%;overflow:hidden;}
.pl-meta-gallery .item-holder img {bottom:0;left:0;margin:auto;max-height:100%;max-width:100%;position:absolute;right:0;top:0;width:auto;}

.pl-meta-gallery.enabled-advanced .item-holder:after {display:block;content:'';position:absolute;width:100%;height:100%;-webkit-box-shadow: inset 0px 0px 0px 8px rgba(47,52,65,1);-moz-box-shadow: inset 0px 0px 0px 8px rgba(47,52,65,1);box-shadow: inset 0px 0px 0px 8px rgba(47,52,65,1);opacity:0;text-align:center;}

.pl-meta-gallery.enabled-advanced .item-holder:hover:after {opacity:1;}
.pl-meta-gallery.enabled-advanced .items li .item-holder:hover .fa-pencil {opacity:1;}
.pl-meta-gallery .items li.video:before {content:"";z-index:1;position:absolute;width:56px;height:58px;top:50%;left:50%;margin:-29px 0 0 -28px;background-color:#393f4f;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.pl-meta-gallery .items li.video:after {content:"";z-index:2;position:absolute;width:0;height:0;top:50%;left:50%;border-style:solid;border-width:10px 0 10px 10px;border-color:transparent transparent transparent #04b592;margin:-10px 0 0 -3px;}
.pl-meta-gallery .items li img {opacity:0;float:left;width:100%;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.pl-meta-gallery.loaded .items li img {opacity:1;}
.pl-meta-gallery .fa-refresh {opacity:1;font-size:120px;color:rgba(0,0,0,0.3);position:absolute;top:45px;left:50%;margin-left:-30px;}
.pl-meta-gallery.loaded .fa-refresh {opacity:0;}

#bw-gallery-bg {visibility:hidden;opacity:0;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);z-index:9999;}
#bw-gallery-bg.visible {visibility:visible;opacity:1;}

/* Animated rotating icon */
.icon-spin {
    display:inline-block;
    -moz-animation:spin 2s infinite linear;
    -o-animation:spin 2s infinite linear;
    -webkit-animation:spin 2s infinite linear;
    animation:spin 2s infinite linear;}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-moz-keyframes spin{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-webkit-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* acf fix for empty images */
.acf-image-uploader.active .has-image {min-width:80px;min-height:80px;background-color:#f1f1f1;}

#bw-gallery-bg, .pl-meta-gallery .items .fa-pencil, .pl-meta-gallery .items img  {
    transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;
}

.pl-meta-gallery .fa-refresh, .enabled-advanced .item-holder:after {
    transition:opacity .3s ease-in-out;-moz-transition:opacity .3s ease-in-out;-webkit-transition:opacity .3s ease-in-out;
}

.gallery-popup-settings {
    transition:all .5s cubic-bezier(0.165, 0.84, 0.44, 1);-moz-transition:all .5s cubic-bezier(0.165, 0.84, 0.44, 1);-webkit-transition:all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
